<div class=" p-d-flex p-jc-center" >
<div  pFocusTrap class="card">
    <h5>Nombre</h5>
    <span class="p-float-label">
        <input id="float-input" type="text" size="30" pInputText> 
        <label for="float-input">Nombre Completo</label>
    </span>


    <h5>Corre</h5>
    <span class="p-float-label">
        <input id="float-input" type="email" size="30" pInputText> 
        <label for="float-input">Correo Electronico</label>
    </span>

     <h5>celular</h5>
    <span class="p-float-label">
        <input id="float-input" type="number" size="30" pInputText> 
        <label for="float-input">Celular</label>
    </span>
    
    <h5>Disabled Button</h5>
    <button pButton type="button" icon="pi pi-check" [disabled]="true" label="Disabled"></button>

    <h5>Button with tabindex -1</h5>
    <button pButton type="button" icon="pi pi-check" tabindex="-1"  label="Check"></button>
    
    
    
</div>
</div>