
html,body{
   
    background-color: var( --surface-f );
    font-family:var( --font-family ) ;
    color: var(--text-color);
    background-image:  url("https://wallpapercave.com/wp/eHMRAmW.jpg");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 140rem;
}
